{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container log-in">
    <div class="row">
        <div class="col-md-8 mt-4 offset-md-2 text-center">
            <h2 class="mb-3">Sign In to <span class="text-silver">Shumba Valeting</span></h2>

            <p>
                {% blocktrans %}
                    Welcome back to Shumba Valeting!  
                    To book a service or manage your account, please log in.  
                    Don’t have an account yet? <a class="link" href="{{ signup_url }}">Sign up here</a>.
                {% endblocktrans %}
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mt-3 offset-md-3">
            <form method="POST" action="{% url 'account_login' %}" class="login card p-4 shadow-sm">
                {% csrf_token %}
                
                <div class="form-group">
                    {{ form.login }}
                    {{ form.login.errors }}
                </div>
            
                <div class="form-group">
                    {{ form.password }}
                    {{ form.password.errors }}
                    {% if form.password.help_text %}
                        <small id="id_password_helptext" class="form-text text-muted">
                            {{ form.password.help_text }}
                        </small>
                    {% endif %}
                </div>
            
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                {% endif %}
            
                <button type="submit" class="login-button btn btn-primary px-4 mt-3">
                    {% trans "Sign In" %}
                </button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
