{% extends "base.html" %}

{% block title %}Home - Shumba Valeting{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Frequently asked questions and answers section-->
    <div class="faq">
      <h2>FAQ </h2>
      <p>Here are some answers to commonly asked questions about pallet loads. </p>
      <button class="accordion"> What is a standard pallet size? </button>
      <div class="panel">
        <p>Most standard pallets used in the UK and EU measure 1200mm x 1000mm or 1200mm x 800mm. Dimensions may vary by
          region or industry.
        </p>
      </div>
      <button class="accordion"> How much weight can a pallet hold? </button>
      <div class="panel">
        <p> Wooden pallets typically support up to 1000kg and plastic pallets vary between 500kg and 1500kg. Always
          check manufacturer specs for safety.
        </p>
      </div>
      <button class="accordion" id="third"> Do pallet loads need to be shrink-wrapped?</button>
      <div class="panel">
        <p> Yes—especially for transportation to secure items and minimise shifting or damage.</p>
      </div>
    </div>

    <!-- Form-->
        <form method="post" class="booking-form">
            <h2>Book Your Valet</h2>
            <p>
                This form is for <strong>car valeting only</strong>.<br>
                For other vehicles, please 
                <a href="/contact"><strong>contact us</strong></a>.
            </p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-2">Submit Booking</button>
        </form>
    </div>
</div>
{% endblock %}
