{% extends "base.html"%}
{% load static %}

{% block title%} Services - Shumba Valeting {%endblock%}

{% block nav_image %}
<!-- No image by default -->
{% endblock %}


{%block content%}
<section class="services-section">
    <h1 class="services-heading">Our Valet Packages</h1>
    <p class="services-subtitle">Choose the perfect valet service for your car</p>

    <div class="services-grid">
        <!-- Basic Valet -->
        <div class="service-card">
            <img class="services-images"src="{% static 'images/brush.jpg' %}" alt="Basic Valet">
            <h2>Basic Valet</h2>
            <p class="price">£25</p>
            <p class="description">A quick refresh including exterior wash and interior vacuum.</p>
        </div>

        <!-- Premium Valet -->
        <div class="service-card">
            <img class="services-images" src="{% static 'images/brush.jpg' %}" alt="Premium Valet">
            <h2>Premium Valet</h2>
            <p class="price">£45</p>
            <p class="description">Exterior wash, interior deep clean, and dashboard polish.</p>
        </div>

        <!-- Executive Valet -->
        <div class="service-card">
            <img class="services-images" src="{% static 'images/brush.jpg' %}" alt="Premium Valet">
            <h2>Premium Valet</h2>
            <p class="price">£70</p>
            <p class="description">Full inside-out valet with upholstery care and wax finish.</p>
        </div>

        <!-- Luxury Valet -->
        <div class="service-card">
            <img class="services-images" src="{% static 'images/brush.jpg' %}" alt="Premium Valet">
            <h2>Premium Valet</h2>
            <p class="price">£120</p>
            <p class="description">Ultimate detailing experience including ceramic coating and leather treatment.</p>
        </div>

    <button class="main-button"> 
        <a href="{% url 'home' %}#bottom" class="btn">Book Now</a>
    </button>

</div>
</section>

{%endblock%}