{% extends "base.html"%}
{% load static %}

{% block title%} Services - Shumba Valeting {%endblock%}

{% block nav_image %}
<!-- No image by default -->
{% endblock %}


{%block content%}
<section class="services-section">
    <h1 class="services-heading">Our Valet Packages</h1>
    <p class="services-subtitle">Choose the perfect valet service for your car</p>

    <div class="services-grid">
        <!-- Basic Valet -->
        <div class="service-card">
            <img class="img-fluid"src="{% static 'images/brush.jpg' %}" alt="Basic Valet">
            <h2>Basic Valet</h2>
            <p class="price">£25</p>
            <p class="description">A quick refresh including exterior wash and interior vacuum.</p>
        </div>

    <button class="main-button"> 
        <a href="{% url 'home' %}#bottom" class="btn">Book Now</a>
    </button>

</div>
</section>

{%endblock%}